$color1: #fff;
$color2: #2a2d32;
$color3: #181a1d;
$color4: #248cec;
$color5: #35383c;
$color6: #181a1d;
$color7: #f4b60d;
$color8: #001d1d;
$color9: #8a8a8a;
$color10: rgba(36, 140, 236, 0.9);
$color11: #f7f7f7;
$color12: #9d9d9d;
$color13: #0187f4;
$color14: #e8e8e8;